<% include ./partials/header %> <!-- header.ejs -->
<div class="ui main text container segment">  <!-- use ui: to change location of this container-->
	<div class="ui huge header"> <%= blog.title %></div> <!-- big header -->
	<div class="ui top attached"> 
		<div class="item"></div>
			<img class="ui centered image" src="<%=blog.image%>">
			<div class="content">
				<span><%= blog.created.toDateString()%></span> 
			</div>
			<div class="description">
				<p><%= blog.body %></p>  <!-- If change = to -, take whatever blog that body returned and evaluate that, if u have <strong> tag in text, it will make things blod -->
			</div>	

			<form class="edit_delete_same_line" action="/blogs/<%=blog._id %>/edit" method="GET"> <!-- go find the specific route in app.js that has get method and has same route name-->
				<button class="ui yellow button">Edit</button>
			</form>

			<form  class="edit_delete_same_line" action="/blogs/<%=blog._id %>?_method=DELETE" method="POST"> <!-- for delete post, use override method similar to want we do for edit post, and go to specific route in app.js that has delete method and has same route name-->
				<button class="ui red button">Delete</button>
			</form>
	</div>
</div>
<% include ./partials/footer %> <!-- footer.ejs -->

